<div class="card">
  <div class="img">
    <img *ngIf="media.img !== ''" [src]="media.img" [alt]="media.nom" />
    <img
      *ngIf="media.img === ''"
      src="https://pbs.twimg.com/profile_images/821849411991044096/lQFa_Vly_400x400.jpg"
      alt=""
    />
  </div>
  <div class="infos">
    <h4>{{ media.nom }}</h4>
    <p *ngIf="media.real">De {{ media.real }}, {{ media.annee }}</p>
    <p *ngIf="media.artiste">{{ media.artiste }}, {{ media.annee }}</p>
    <p class="synopsis">{{ media.synopsis }}</p>
  </div>
</div>
